<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/output.css" />
    <title>Sertifikat dicoding</title>
  </head>
  <body>
    <!-- Hero section -->
    <section>
      <div class="container mb-6 mt-10 mx-auto lg:w-2/3 text-center">
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Dicoding</span> Event's</h1>
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Saya telah menyelesaikan tiap modul yang diberikan kelas DBS Foundation. Berikut adalah tanda bahwa saya telah menyelesaikan tiap modul.</p>
      </div>
    </section>
    <!-- Section card -->
    <section>
      <div class="container grid grid-cols-2 gap-4 md:grid-cols-3 mb-6">
        <figure class="flex flex-wrap relative mb-2 max-w-sm transition-all duration-300 cursor-pointer hover:backdrop-blur-lg bg-white/20">
          <a href="#">
            <img class="rounded-lg" src="../dist/img/sertifikat/sertifikat dasar manajemen proyek_page-0001.jpg" alt="image description" />
          </a>
          <figcaption class="absolute px-4 h-1/2 w-full text-white bottom-0 flex items-center hover:bg-gradient-to-b from-transparent to-slate-800 hover:rounded-lg">
            <p class="text-xs md:text-lg">Dasar Manajemen Proyek</p>
          </figcaption>
        </figure>
        <figure class="relative mb-2 max-w-sm transition-all duration-300 cursor-pointer">
          <a href="#">
            <img class="rounded-lg" src="../dist/img/sertifikat/sertifikat dasar pemrograman web_page-0001.jpg" alt="image description" />
          </a>
          <figcaption class="absolute px-4 h-1/2 w-full text-white bottom-0 flex items-center hover:bg-gradient-to-b from-transparent to-slate-800 hover:rounded-lg">
            <p class="text-xs md:text-lg">Dasar Pemrograman Web</p>
          </figcaption>
        </figure>
        <figure class="relative mb-2 max-w-sm transition-all duration-300 cursor-pointer">
          <a href="#">
            <img class="rounded-lg" src="../dist/img/sertifikat/sertifikat dasar pemrograman_page-0001.jpg" alt="image description" />
          </a>
          <figcaption class="absolute px-4 h-1/2 w-full text-white bottom-0 flex items-center hover:bg-gradient-to-b from-transparent to-slate-800 hover:rounded-lg">
            <p class="text-xs md:text-lg">Dasar Pemrograman</p>
          </figcaption>
        </figure>
        <figure class="relative mb-2 max-w-sm transition-all duration-300 cursor-pointer">
          <a href="#">
            <img class="rounded-lg" src="../dist/img/sertifikat/sertifikat sql_page-0001.jpg" alt="image description" />
          </a>
          <figcaption class="absolute px-4 h-1/2 w-full text-white bottom-0 flex items-center hover:bg-gradient-to-b from-transparent to-slate-800 hover:rounded-lg">
            <p class="text-xs md:text-lg">Dasar Structrured Query Language</p>
          </figcaption>
        </figure>
        <!-- <figure class="relative mb-2 max-w-sm transition-all duration-300 cursor-pointer">
          <a href="#">
            <img class="rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png" alt="image description" />
          </a>
          <figcaption class="absolute px-4 h-1/2 w-full text-white bottom-0 flex items-center hover:bg-gradient-to-b from-transparent to-slate-800 hover:rounded-lg">
            <p class="text-xs md:text-lg">Dasar Manajemen Proyek</p>
          </figcaption>
        </figure>
        <figure class="relative mb-2 max-w-sm transition-all duration-300 cursor-pointer">
          <a href="#">
            <img class="rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png" alt="image description" />
          </a>
          <figcaption class="absolute px-4 h-1/2 w-full text-white bottom-0 flex items-center hover:bg-gradient-to-b from-transparent to-slate-800 hover:rounded-lg">
            <p class="text-xs md:text-lg">Dasar Manajemen Proyek</p>
          </figcaption>
        </figure> -->
      </div>
    </section>

    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
