<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100 text-gray-900">
    <main class="container mx-auto px-4 py-6">
      <section class="mb-8">
        <div class="container mx-auto px-4 py-6">
          <h1 class="text-3xl font-bold">UI and UX</h1>
          <p class="text-lg">
            Portofolio ini menunjukkan hasil desain UI/UX yang sederhana dan mudah digunakan, dengan fokus pada kebutuhan pengguna dan tampilan yang menarik. Setiap karya dibuat melalui pendekatan human-centered design, memastikan
            pengalaman pengguna yang optimal. Mulai dari riset hingga prototipe interaktif, proses kreatif yang saya jalani terlihat di setiap detailnya.
          </p>
        </div>
      </section>
      <!-- Project -->
      <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">Projects</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <div class="bg-white p-4 rounded shadow">
            <div class="rounded-md overflow-hidden">
              <img src="../dist/img/Aplikasi Ayo Curhat.jpg" alt="Ayo Curhat" width="w-full" />
            </div>
            <h3 class="text-xl font-bold mb-2">Ayo Curhat</h3>
            <p class="text-lg">Ayo Curhat merupakan aplikasi berbasis website pelayanan pengaduan kekerasan seksual untuk mahasiswa maupun pegawai di Politeknik Negeri Banyuwangi</p>
          </div>
          <div class="bg-white p-4 rounded shadow">
            <div class="rounded-md overflow-hidden">
              <img src="../dist/img/Movie theater-min.png" alt="Movie Theater" width="w-full" />
            </div>
            <h3 class="text-xl font-bold mb-2">Movie Theater</h3>
            <p class="text-lg">Movie Theater merupakan sebuah aplikasi mobile pemesanan tiket film bioskop. Dengan adanya pemesanan tiket secara online, pengguna dimudahkan akses secara langsung lokasi bioskop terkedekat</p>
          </div>
          <div class="bg-white p-4 rounded shadow">
            <div class="rounded-md overflow-hidden">
              <img src="../dist/img/UAJY MYCampus-min.png" alt="Movie Theater" width="w-full" />
            </div>
            <h3 class="text-xl font-bold mb-2">UAJY MyCampus</h3>
            <p class="text-lg">UAJY MyCampun merupakan aplikasi portal mahasiswa. Aplikasi ini menyidiakan layanan administrasi serta layanan penjadwalan pembelajaran. Data diri mahasiswa dapat diunduh dengan mudah, praktis, dan nyaman.</p>
          </div>
          <div class="bg-white p-4 rounded shadow">
            <div class="rounded-md overflow-hidden">
              <img src="../dist/img/QuizIndonesia.png" alt="Movie Theater" width="w-full" />
            </div>
            <h3 class="text-xl font-bold mb-2">Quiz Indonesia</h3>
            <p class="text-lg">
              Quiz Indonesia merupakan aplikasi game dengan pembelajaran budaya-budaya Indonesia. Dengan tampilan yang menarik membuat disukai oleh anak-anak. Tujuan game ini memberikan pembelajaran seputar Indonesia yang interaktif serta
              menyenangkan
            </p>
          </div>
          <div class="bg-white p-4 rounded shadow">
            <div class="rounded-md overflow-hidden">
              <img src="../dist/img/GaleriMakna.png" alt="Movie Theater" width="w-full" />
            </div>
            <h3 class="text-xl font-bold mb-2">Galeri Makna</h3>
            <p class="text-lg"></p>
          </div>
        </div>
      </section>
    </main>
    <footer class="bg-white shadow mt-8">
      <div class="container mx-auto px-4 py-6">
        <p class="text-center text-lg">&copy; 2023 My Portfolio</p>
      </div>
    </footer>
  </body>
</html>
