<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="icon" href="../dist/img/logo desi.png" />
    <link rel="stylesheet" href="../src/output.css" />
    <link rel="stylesheet" href="../src/tailwind.min.css" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" /> -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" />
  </head>
  <body class="bg-white text-gray-900">
    <!-- Description Section -->
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <div class="inline-flex justify-between mx-auto items-center py-1 px-1 pr-1 mb-7 bg-yellow-400 rounded-full dark:bg-gray-800"></div>
        <div class="inline-flex justify-between mx-auto items-center py-1 px-1 pr-1 mb-7 bg-yellow-400 rounded-full dark:bg-gray-800"></div>
        <div class="inline-flex justify-between mx-auto items-center py-1 px-1 pr-1 mb-7 bg-yellow-400 rounded-full dark:bg-gray-800"></div>
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">UI and UX</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
          Portofolio ini menunjukkan hasil desain UI/UX yang sederhana dan mudah digunakan, dengan fokus pada kebutuhan pengguna dan tampilan yang menarik. Setiap karya dibuat melalui pendekatan human-centered design, memastikan pengalaman
          pengguna yang optimal. Mulai dari riset hingga prototipe interaktif, proses kreatif yang saya jalani terlihat di setiap detailnya.
        </p>
        <div class="flex flex-col mb-4 lg:mb-4 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
          <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
            Learn more
            <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>

        <div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
          <span class="font-semibold text-gray-400 uppercase">Lo-fi, Hi-fi, Prototype</span>
        </div>
      </div>
    </section>

    <!-- Project Section -->
    <section class="mb-8">
      <div class="rounded-3xl bg-gray-200 px-6 py-8 mx-12">
        <h2 class="text-2xl font-semibold mb-4">Projects</h2>
        <div class="flex flex-wrap">
          <div class="w-full h-full py-4 px-2 lg:w-1/2 xl:w-1/3">
            <div class="bg-white mix-h-card rounded-3xl shadow-md hover:shadow-2xl max-w-sm">
              <div class="relative rounded-t-3xl overflow-hidden h-64 bg-gray-100 flex cursor-pointer" data-dialog-target="image-dialog-1">
                <img class="h-auto max-w-full w-full object-cover" src="../dist/img/Ayo Curhat.png" alt="Ayo Curhat" width="w-full" />
              </div>

              <!-- Modal -->
              <div
                class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
                data-dialog-backdrop="image-dialog-1"
                data-dialog-backdrop-close="true">
                <div class="flex items-center justify-center rounded-lg relative bg-white shadow-xl w-3/4 m-2 max-h-screen" role="dialog" data-dialog="image-dialog-1">
                  <div class="prose max-w-screen p-6 overflow-y-auto no-scrollbar" style="max-height: 90vh; border-radius: 0.375rem">
                    <!-- <div class="border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 mb-4">
                      <embed src="../dist/Slide 16_9 - 1 (2).pdf" class="w-full object-center" style="width: 150vh; height: 80vh;" alt=""></embed>
                    </div> -->
                    <div class="border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 mb-4">
                      <img src="../dist/img/ux/ayocurhat/Frame 645.png" class="w-full object-cover object-center" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- end modal -->
              <div class="pb-6 px-6">
                <h2 class="text-xl font-bold mb-2 pt-4">Ayo Curhat</h2>
                <p class="font-sans text-base text-secondary mb-2 line-clamp-2">Ayo Curhat merupakan aplikasi berbasis website pelayanan pengaduan kekerasan seksual untuk mahasiswa maupun pegawai di Politeknik Negeri Banyuwangi</p>
                <div class="flex justify-end my-4">
                  <a
                    href="https://www.figma.com/design/1GT34yASJzy9kVqQVlNMpj/AYO-CURHAT?node-id=0-1&t=CtGVYzjIf8cmW6ya-1"
                    target="_blank"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-full hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-100 dark:bg-yellow-400 dark:hover:bg-yellow-400 dark:focus:ring-yellow-600">
                    Detail
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full py-4 px-2 lg:w-1/2 xl:w-1/3">
            <div class="bg-white mix-h-card rounded-3xl hover:shadow-2xl shadow-sm max-w-sm">
              <div class="rounded-t-3xl overflow-hidden h-64" data-dialog-target="image-dialog-2">
                <img class="h-auto max-w-full w-full object-cover" src="../dist/img/Movie theater-min.png" alt="Movie Theater" width="w-full" />
              </div>
              <!-- Modal -->
              <div
                class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
                data-dialog-backdrop="image-dialog-2"
                data-dialog-backdrop-close="true">
                <div class="flex items-center justify-center rounded-lg relative bg-white shadow-xl w-3/4 m-2 max-h-screen" role="dialog" data-dialog="image-dialog-2">
                  <div class="prose max-w-screen p-6 overflow-y-auto no-scrollbar" style="max-height: 90vh; border-radius: 0.375rem">
                    <div class="border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 mb-4">
                      <img src="../dist/img/ux/movietheater/Frame 646.png" class="w-full object-cover object-center" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- end modal -->
              <div class="pb-6 px-6">
                <h3 class="text-xl font-bold mb-2 pt-4">Movie Theater</h3>
                <p class="font-sans text-base text-secondary line-clamp-2">
                  Movie Theater merupakan sebuah aplikasi mobile pemesanan tiket film bioskop. Dengan adanya pemesanan tiket secara online, pengguna dimudahkan akses secara langsung lokasi bioskop terkedekat
                </p>
                <div class="flex justify-end my-4">
                  <a
                    href="https://www.figma.com/design/Hd7efcWO2qmNSGuI3P5fIV/movie-theater?node-id=6-2&t=85qLrU86DmDSih5e-1"
                    target="_blank"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-full hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-100 dark:bg-yellow-400 dark:hover:bg-yellow-400 dark:focus:ring-yellow-600">
                    Detail
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full py-4 px-2 lg:w-1/2 xl:w-1/3">
            <div class="bg-white mi-h-card rounded-3xl hover:shadow-2xl shadow-sm max-w-sm">
              <div class="rounded-t-3xl overflow-hidden h-64">
                <img class="h-auto max-w-full w-full object-cover" src="../dist/img/UAJY MYCampus-min.png" alt="Movie Theater" width="w-full" />
              </div>
              <div class="pb-6 px-6">
                <h3 class="text-xl font-bold mb-2 pt-4">UAJY MyCampus</h3>
                <p class="font-sans text-base text-secondary line-clamp-2">
                  UAJY MyCampun merupakan aplikasi portal mahasiswa. Aplikasi ini menyidiakan layanan administrasi serta layanan penjadwalan pembelajaran. Data diri mahasiswa dapat diunduh dengan mudah, praktis, dan nyaman.
                </p>
                <div class="flex justify-end my-4">
                  <a
                    href="https://www.figma.com/design/fBqpED9kYoJbtX5EOLsm11/UAJY-MyCampus?node-id=1073-5645&t=mByFaL4hc6rHSNiL-1"
                    target="_blank"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-full hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-100 dark:bg-yellow-400 dark:hover:bg-yellow-400 dark:focus:ring-yellow-600">
                    Detail
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full py-4 px-2 lg:w-1/2 xl:w-1/3">
            <div class="bg-white rounded-3xl hover:shadow-2xl shadow-sm max-w-sm">
              <div class="rounded-t-3xl overflow-hidden h-64">
                <img class="h-auto max-w-full w-full object-cover" src="../dist/img/QuizIndonesia.png" alt="Movie Theater" width="w-full" />
              </div>
              <div class="pb-6 px-6">
                <h3 class="text-xl font-bold mb-2 pt-4">Quiz Indonesia</h3>
                <p class="font-sans text-base text-secondary line-clamp-2">
                  Quiz Indonesia merupakan aplikasi game dengan pembelajaran budaya-budaya Indonesia. Dengan tampilan yang menarik membuat disukai oleh anak-anak. Tujuan game ini memberikan pembelajaran seputar Indonesia yang interaktif
                  serta menyenangkan
                </p>
                <div class="flex justify-end my-4">
                  <a
                    href="https://www.figma.com/design/OaK9R1fVk7jNd0pWhLMYeY/UI?node-id=133-891&t=oX0Z8uxwBmL7ttAh-1"
                    target="_blank"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-full hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-100 dark:bg-yellow-400 dark:hover:bg-yellow-400 dark:focus:ring-yellow-600">
                    Detail
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full py-4 px-2 lg:w-1/2 xl:w-1/3">
            <div class="bg-white rounded-3xl hover:shadow-2xl shadow-sm max-w-sm">
              <div class="rounded-t-3xl overflow-hidden h-64">
                <img class="h-auto max-w-full w-full object-cover" src="../dist/img/GaleriMakna.png" alt="Movie Theater" width="w-full" />
              </div>
              <div class="pb-6 px-6">
                <h3 class="text-xl font-bold mb-2 pt-4">Galeri Makna</h3>
                <p class="font-sans text-base text-secondary line-clamp-2">
                  Galeri makna merupakan aplikasi berbasis web untuk para seniman yang ada di kota Banyuwangi. Adanya website para seniman dapat memamerkan hasil karya mereka serta dapat menjualnya. Berbagai komunitas seniman dapat
                  memperluas pasar penjualan karya seni mereka.
                </p>
                <div class="flex justify-end my-4">
                  <a
                    href="https://www.figma.com/design/wdEZxJy8Mf5vFfrbEzpN0x/GaleriMakna?node-id=0-1&t=5Gdts931hUaQfezQ-1"
                    type="button"
                    aria-haspopup="dialog"
                    aria-expanded="false"
                    aria-controls="hs-full-screen-modal"
                    data-hs-overlay="#hs-full-screen-modal"
                    target="_blank"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-full hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-100 dark:bg-yellow-400 dark:hover:bg-yellow-400 dark:focus:ring-yellow-600">
                    Detail
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                  </a>

                  <!-- <div id="hs-full-screen-modal" class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="hs-full-screen-label">
                    <div class="hs-overlay-open:mt-0 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-10 opacity-0 transition-all max-w-full max-h-full h-full">
                      <div class="flex flex-col bg-white pointer-events-auto max-w-full max-h-full h-full dark:bg-neutral-800">
                        <div class="flex justify-between items-center py-3 px-4 border-b dark:border-neutral-700">
                          <h3 id="hs-full-screen-label" class="font-bold text-gray-800 dark:text-white">Modal title</h3>
                          <button
                            type="button"
                            class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
                            aria-label="Close"
                            data-hs-overlay="#hs-full-screen-modal">
                            <span class="sr-only">Close</span>
                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M18 6 6 18"></path>
                              <path d="m6 6 12 12"></path>
                            </svg>
                          </button>
                        </div>
                        <div class="p-4 overflow-y-auto">
                          <p class="mt-1 text-gray-800 dark:text-neutral-400">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="flex justify-end items-center gap-x-2 py-3 px-4 mt-auto border-t dark:border-neutral-700">
                          <button
                            type="button"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                            data-hs-overlay="#hs-full-screen-modal">
                            Close
                          </button>
                          <button
                            type="button"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                            Save changes
                          </button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-white shadow mt-8">
      <div class="container mx-auto px-4 py-6">
        <p class="text-center text-lg">&copy; 2024 My Portfolio</p>
      </div>
    </footer>
    <script src="../../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/dialog.js"></script>
    <script></script>
  </body>
</html>
